[Desktop Entry]
Type=Application
Name=fosmarkirovka URL Handler
NoDisplay=true
Exec=fos-markirovka %u
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
MimeType=x-scheme-handler/fosmarkirovka;