[Desktop Entry]
Type=Application
Name=1ОС.Маркировка прямая печать
NoDisplay=true
Exec=fos-markirovka %u
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
MimeType=x-scheme-handler/fosmarkirovka;